<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.study.presentation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.study.presentation.v2.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity
            android:name=".v2.view.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".v2.view.recipeDetail.RecipeDetailActivity"/>
        <activity
            android:name=".v2.view.searchRecipe.SearchRecipesActivity"/>
        <activity
            android:name=".v2.view.ingredients.IngredientsActivity"/>
        <activity
            android:name=".v2.view.searchRecipe.CrawlRecipesActivity"/>
    </application>

</manifest>